h1 {
    color: rgb(29, 168, 168);
    padding-left: 14px;

}

hr {
    background:
        linear-gradient(0deg, lightgrey 0 , grey 1px ,transparent 1px ,transparent),
        linear-gradient(90deg, lightgrey 0 , grey 1px ,transparent 1px ,transparent);
    background-size:1.4em 1.4em,1.4em 1.4em;
    line-height:1.4em;
    }

body {
    background: white;
  }

ul {
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgb(29, 168, 168);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover, .dropdown:hover {
    background-color: rgb(40, 197, 197);
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: lightgrey;
}

#mainimage {
    display: inline;
    border-radius: 5px;
    padding-right: 5px;
}

#mainimage:hover {
    border: 1px solid #777;
}

div {
    column-span:66%;    
    width: 98%;
    margin: 0;
    padding-top: 1px;
    padding-left:8px;
    padding-right:1px%;
    padding-bottom: 14px;
    background-color: white;
    text-align: justify;
}

p {
    padding-top:20px;
    padding-left:10px;
}

div2 {
    display: block;
    width: 100%;
    height: auto;
    object-fit: scale-down;
}

#image1:hover {
    border: 1px solid #777;
}

#image2:hover {
    border: 1px solid #777;
}

#image3:hover {
    border: 1px solid #777;
}

#image4:hover {
    border: 1px solid #777;
}

div.gallery {
    margin: 2px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
    object-fit: scale-down;
        }
                
    div.gallery img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: scale-down;
        }

.dropdown:hover .dropdown-content {display: block;}

.table{   
    width: 80%;
    background-color: white;
    align: center;
    margin-left: auto;
    margin-right: auto;
}
